<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

   
   

    <!-- Link to DataTables JS -->
   @RenderSection("plugin_style", false)

   @RenderSection("plugin_script", false)
</head>
<body>
    @RenderBody()
</body>
</html>
