
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Parents/Views/Shared/_LayoutParents.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>
<div ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>

</div>

<script src="~/views/parents/ParentsSonClasses/Controller.js"> </script>


