
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Login/Views/Shared/_LayoutLogin.cshtml";
}


<div ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>

</div>

<script src="views/sign-in/script_signup.js"></script>