
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Login/Views/Shared/_LayoutLogin.cshtml";
}

<style>


    .uib-datepicker-popup.dropdown-menu {
        display: block;
        float: none;
        margin: 0;
        left: 195px !important;
        top: 48px !important;
    }
</style>

<div ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view ></div>

</div>

<script src="views/sign-in/script_signup.js"></script>